name: Trigger auto deployment for capp

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/capp-AutoDeployTrigger-135c8787-447d-4fc8-8c9d-a8e4b74baec7.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CAPP_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CAPP_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CAPP_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: shyju.azurecr.io
          registryUsername: ${{ secrets.CAPP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CAPP_REGISTRY_PASSWORD }}
          containerAppName: capp
          resourceGroup: lab
          imageToBuild: shyju.azurecr.io/capp:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


